.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
}

.form > .form-row {
    display: flex;
    width: 100%;
}

.form label {
    font-size: 0;
}

.form input,
.form textarea {
    width: 100%;
    padding: 0.6rem 0 0.5rem;
    font-size: 1.1rem;
    line-height: 1.2em;
    font-family: inherit;
    border: none;
    background-color: transparent;
    border-bottom: 0.1em solid #777;
}

.form textarea{
    min-height: calc(2 * 1.2em + 1.2em);
    height: calc(4 * 1.2em + 1.2em);
    max-height: calc(10 * 1.2em + 1.2em);
    resize: vertical;
}

/*Visoms formoms*/
input::placeholder,
textarea::placeholder{
    font-style: italic;
}