body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.bg-primary{
    /*background-color: rgb(3,169,244); RGB*/
    background-color: #03a9f4; /*HEX sesioliktainis variantas
    - geresnis naudoti*/
}

/*LAYOUT*/

.container{
    width: 100%;
    padding: 4rem 0;
}

.container > .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*jeigu netelpa kelia i nauja eilute*/
    gap: 2.5rem 0; /*40px vertical, 0 horizontal*/
    width: 62rem;
    /*margin-left: calc(50% - 500px);*/
    margin: 0 calc(50% - 31rem); /*visomis kryptimis*/
    /*background-color: pink;*/
}

.container > .row-short{
    width: 38rem;
    margin: 0 calc(50% - 19rem);
    /*background-color: pink;*/
}

.container .column{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 50%;
    /*border: 10px solid springgreen;*/
}

.container .column.short{
    width: 40%;
    margin-left: auto;
}

/*HERO*/

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    text-align: center;
}

.hero > .logo{
    height: 2.5rem;
    margin-bottom: 1.25rem;
}

.hero > .main-title{
    /*font-size: 80px;*/
    font-size: 5rem;
}

.hero > .desription{
    /*font-size: 20px;*/
    font-size: 1.25rem;
}

/*CONTENT*/

.section-title{
    font-size: 1.25rem;
    text-transform: uppercase;
}

.section-desription{
    font-size: 1.125rem;
    color: #737779;
}

.section-desription > a{
    color: #ea1e63;
    text-decoration: none;
}

.section-desription > a:hover{
    color: #c11c53;
    text-decoration: underline;
}

.row.btn-list{
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.btn{
    padding: 1em 2em;
    font-size: 1.25rem;
    line-height: 1em;
    background-color: #ea1e63;
    color: #fff;
    border-radius: 0.4em;
    cursor: pointer;
    user-select: none; /*kad nekopijuotų teksto, bet input leis žymėti*/
}

.btn:hover{
    background-color:#c11c53;
}

.btn.btn-big{
    font-size: 2.5rem;
    /*padding: 2rem 4rem;
    font-size: 2rem;
    border-radius: 0.8rem;*/
}

.btn.btn-small{
    font-size: 0.7rem;
    /*padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 0.3rem;*/
}

/*FOOTER*/

footer.container{
    padding-top: 0;
}

.socials.row {
    margin-bottom: 2rem;
    gap: 1.875rem;
    padding: 1.25rem 0;
    border-bottom: 0.1rem solid #fff;
}

.socials > a{
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;  /*10000 * 0.5 = 500px*/
    transition: all 0.3s; /* 300ms - milisekundes*/
    /*transition: background-color 1s, color 5s;*/
}

.socials > a:hover{
    background-color: #fff;
    color: #03a9f4;
    transition: all 1s; 
    /*1s pradeda, o baigiasi su 0.3s*/
}

.footer-bottom{
    text-align: center;
}

footer .logo{
    height: 2.5rem;
    margin-bottom: 1.875rem;
}

footer p{
    font-size: 1.125rem;
    line-height: 1.875rem;
    /*color: #ffffffbb; bb - alpha hex*/
    color: #fffb;
}

footer p > a{
    color: #fff;
    text-decoration: none;
}

footer p > a:hover{
    text-decoration: underline;
}


/*RESPONSIVE*/

@media (max-width: 70rem){
    .container > .row{
        width: 50rem;
        margin: 0 calc(50% - 25rem);
    }
}

@media (max-width: 56rem){
    .container > .row{
        /*flex-direction: column;*/
        width: 38rem;
        margin: 0 calc(50% - 19rem);
    }
    .container .column{
        width: 100%
    }
    .container .column.short{
        width: 100%;
        margin-left: unset;
        /*inherit - paveldi plota*/
    }
}

@media (max-width: 44rem){
    .container > .row,
    .container > .row-short{
        width: 25rem;
        margin: 0 calc(50% - 12.5rem);
    }
}

@media (max-width: 42.5rem){
    .container{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        
        /*padding: 60px 20px; 
        jei pradine reiksme keiciasi
        cia irgi tada turi pakeisti, 
        bet geriau rasyti atskirai padding*/
    }
    .container > .row,
    .container > .row-short{
        width: 100%;
        margin: 0;
    }
}






