.mouse{
    width: 2em;
    height: 3em;
    font-size: 100px;
    border: 0.25em solid white;
    border-radius: 1em;
    transition: all 1s;
}

.mouse::before{
    content: '';
    background-color: #fff;
    display: block;
    width: 0.3em;
    height: 0.5em;
    margin-left: calc(50% - 0.15em);
    margin-top: 0.6em;
    border-radius: 0.15em;
}